// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.panel-heading {
    margin-bottom: 30px;

    .btn {
        background-color: rgba(141, 94, 58, 0.6);
        border: 1px solid rgba(141, 94, 58, 0.6);
        color: white;
        font-size: 17px;
    }
}

th {
    width: 3%;
    background-color: rgba(141, 94, 58, 0.3);
    color: white;
    font-size: 20px;
}

.btn-danger {
    background-color: black;
    border-color: black;
}

.modif {
    background-color: #337dff;
    border-color: #337dff;
    margin-right: 20px;
    margin-left: 20px;
}

h3 {
    color: rgba(141, 94, 58);
}

tr:nth-child(2n+1) {
    background-color: rgba(141, 94, 58, 0.3) !important;
    color: white;
}

.navbar {
    background-color: rgba(141, 94, 58) !important;

}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.toggle {
    transform: scale(1.7);
    margin-right: 20px;
    margin-left: 20px;
}

.flex-center .position-ref {
    align-items: flex-end !important;
}
